* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: rgb(54, 217, 182);
    background: linear-gradient(90deg, rgba(54, 217, 182, 1) 0%,
                                       rgba(32, 152, 126, 1) 43%);
}

:root {
    --record-width: 20px; /* Define a variable */
}

.shelf {
    width: 99vw;
    height: 150px;
    border: solid black 2px;
    display: flex;
    gap: 5px;
    padding-left: 2px;
    margin: 3px;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.rotated-text {
    transform: rotate(-90deg);
    white-space: nowrap;
}
  
.record {
    width: var(--record-width);
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}
  
.record:hover {
    transform: translateX(67px) rotateY(-90deg);
}
  
.record:hover ~ .record {
    transform: translateX(132px);
}
  
.face {
    position: absolute;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
  
.spine {
    width: var(--record-width);
    height: 100%;
    transform: translateZ(75px);
}
  
.cover {
    height: 100%;
    aspect-ratio: 1;
    transform: translateX(-54px) rotateY(90deg);
}
  
.cover > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
.cover > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on your preference */
  }

.white {
    background-color: #FFFFFF;
    color: black;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64px;

    background: #161619;
}

.links {
    margin-top: auto;
    display: flex;
    width: 100%;
}

.links * {
    margin: auto;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
    border-radius: 5px;
}

.footer--text--container {
    margin-top: auto;
    display: flex;
    width: 100%;
}

.footer--text--container * {
    color: ghostwhite;
    margin: auto;
}

.small--icon:hover {
    transform: rotate(20deg);

}

.box {
    --side: 25px;
    height: var(--side);
    width: var(--side);
  }
  
  .childlu {
    height: 50%;
    width: 50%;
    background-color: #aee231;
    transition: 1s ease-in-out;
  }
  
  .childlb {
    height: 50%;
    width: 50%;
    background-color: #e2d031;
    transition: 1s ease-in-out;
  }
  
  .childrb {
    height: 50%;
    width: 50%;
    background-color: #e2ac31;
    transition: 1s ease-in-out;
    transform: translateX(100%) translateY(-100%);
  }
  
  .childru {
    height: 50%;
    width: 50%;
    background-color: #d1e231;
    transition: 1s ease-in-out;
    transform: translateX(100%) translateY(-300%);
  }
  
  .box:hover .childlu {
    background-color: #d1e231;
    transform: translateY(100%)  rotate(90deg);
  }
  
  .box:hover .childlb {
    background-color: #aee231;
    transform: translateX(100%) rotate(90deg);
  }
  
  .box:hover .childru {
    background-color: #e2ac31;
    transform: translateX(0) translateY(-300%) rotate(90deg);
  }
  
  .box:hover .childrb {
    background-color: #e2d031;
    transform: translateX(100%) translateY(-200%) rotate(90deg);
  }
  